{
  "openapi": "3.0.3",
  "info": {
    "title": "YH Finance API Specification",
    "description": "Real time low latency alternative to Yahoo Finance API for stock market, crypto currencies, and currency exchange",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://yfapi.net",
      "description": "Base URL"
    }
  ],
  "tags": [
    {
      "name": "API"
    }
  ],
  "paths": {
    "/v6/finance/quote": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "`US` `AU` `CA` `FR` `DE` `HK` `IT` `ES` `GB` `IN`",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "`en` `fr` `de` `it` `es` `zh`",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "Multiple symbols separated by commas. Max is 10",
            "schema": {
              "type": "string",
              "example": "AAPL,BTC-USD,EURUSD=X"
            }
          }
        ],
        "operationId": "quotes",
        "description": "Real time quote data for stocks, ETFs, mutuals funds, etc…",
        "responses": {
          "200": {
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "quoteResponse": {
                            "error": null,
                            "result": [
                              {
                                "ask": 117.27,
                                "askSize": 8,
                                "averageDailyVolume10Day": 233119800,
                                "averageDailyVolume3Month": 170533131,
                                "bid": 117.25,
                                "bidSize": 22,
                                "bookValue": 4.218,
                                "currency": "USD",
                                "displayName": "Apple",
                                "dividendDate": 1597276800,
                                "earningsTimestamp": 1596126600,
                                "earningsTimestampEnd": 1604318400,
                                "earningsTimestampStart": 1603882740,
                                "epsCurrentYear": 3.23,
                                "epsForward": 3.86,
                                "epsTrailingTwelveMonths": 3.296,
                                "esgPopulated": false,
                                "exchange": "NMS",
                                "exchangeDataDelayedBy": 0,
                                "exchangeTimezoneName": "America/New_York",
                                "exchangeTimezoneShortName": "EDT",
                                "fiftyDayAverage": 112.823425,
                                "fiftyDayAverageChange": 4.4965744,
                                "fiftyDayAverageChangePercent": 0.03985497,
                                "fiftyTwoWeekHigh": 137.98,
                                "fiftyTwoWeekHighChange": -20.659996,
                                "fiftyTwoWeekHighChangePercent": -0.14973181,
                                "fiftyTwoWeekLow": 53.1525,
                                "fiftyTwoWeekLowChange": 64.167496,
                                "fiftyTwoWeekLowChangePercent": 1.2072338,
                                "fiftyTwoWeekRange": "53.1525 - 137.98",
                                "financialCurrency": "USD",
                                "firstTradeDateMilliseconds": 345479400000,
                                "forwardPE": 30.393784,
                                "fullExchangeName": "NasdaqGS",
                                "gmtOffSetMilliseconds": -14400000,
                                "language": "en-US",
                                "longName": "Apple Inc.",
                                "market": "us_market",
                                "marketCap": 2006465249280,
                                "marketState": "POST",
                                "messageBoardId": "finmb_24937",
                                "postMarketChange": -0.25,
                                "postMarketChangePercent": -0.2130924,
                                "postMarketPrice": 117.07,
                                "postMarketTime": 1599686591,
                                "priceEpsCurrentYear": 36.32198,
                                "priceHint": 2,
                                "priceToBook": 27.81413,
                                "quoteSourceName": "Nasdaq Real Time Price",
                                "quoteType": "EQUITY",
                                "region": "US",
                                "regularMarketChange": 4.5,
                                "regularMarketChangePercent": 3.9886546,
                                "regularMarketDayHigh": 119.14,
                                "regularMarketDayLow": 115.26,
                                "regularMarketDayRange": "115.26 - 119.14",
                                "regularMarketOpen": 117.26,
                                "regularMarketPreviousClose": 112.82,
                                "regularMarketPrice": 117.32,
                                "regularMarketTime": 1599681602,
                                "regularMarketVolume": 168404235,
                                "sharesOutstanding": 17102499840,
                                "shortName": "Apple Inc.",
                                "sourceInterval": 15,
                                "symbol": "AAPL",
                                "tradeable": false,
                                "trailingAnnualDividendRate": 0.782,
                                "trailingAnnualDividendYield": 0.0069313953,
                                "trailingPE": 35.59466,
                                "triggerable": true,
                                "twoHundredDayAverage": 85.99835,
                                "twoHundredDayAverageChange": 31.321648,
                                "twoHundredDayAverageChangePercent": 0.3642122
                              },
                              {
                                "ask": 211.63,
                                "askSize": 9,
                                "averageDailyVolume10Day": 43250000,
                                "averageDailyVolume3Month": 35562815,
                                "bid": 211.25,
                                "bidSize": 9,
                                "bookValue": 15.626,
                                "currency": "USD",
                                "displayName": "Microsoft",
                                "dividendDate": 1599696000,
                                "earningsTimestamp": 1595434164,
                                "earningsTimestampEnd": 1603742400,
                                "earningsTimestampStart": 1603310400,
                                "epsCurrentYear": 6.46,
                                "epsForward": 7.34,
                                "epsTrailingTwelveMonths": 5.76,
                                "esgPopulated": false,
                                "exchange": "NMS",
                                "exchangeDataDelayedBy": 0,
                                "exchangeTimezoneName": "America/New_York",
                                "exchangeTimezoneShortName": "EDT",
                                "fiftyDayAverage": 212.50658,
                                "fiftyDayAverageChange": -1.2165833,
                                "fiftyDayAverageChangePercent": -0.0057249204,
                                "fiftyTwoWeekHigh": 232.86,
                                "fiftyTwoWeekHighChange": -21.570007,
                                "fiftyTwoWeekHighChangePercent": -0.092630796,
                                "fiftyTwoWeekLow": 132.52,
                                "fiftyTwoWeekLowChange": 78.76999,
                                "fiftyTwoWeekLowChangePercent": 0.59440076,
                                "fiftyTwoWeekRange": "132.52 - 232.86",
                                "financialCurrency": "USD",
                                "firstTradeDateMilliseconds": 511108200000,
                                "forwardPE": 28.786102,
                                "fullExchangeName": "NasdaqGS",
                                "gmtOffSetMilliseconds": -14400000,
                                "language": "en-US",
                                "longName": "Microsoft Corporation",
                                "market": "us_market",
                                "marketCap": 1598968692736,
                                "marketState": "POST",
                                "messageBoardId": "finmb_21835",
                                "postMarketChange": -61.5672,
                                "postMarketChangePercent": -29.13872,
                                "postMarketPrice": 149.7228,
                                "postMarketTime": 1599686588,
                                "priceEpsCurrentYear": 32.707428,
                                "priceHint": 2,
                                "priceToBook": 13.521694,
                                "quoteSourceName": "Nasdaq Real Time Price",
                                "quoteType": "EQUITY",
                                "region": "US",
                                "regularMarketChange": 8.62999,
                                "regularMarketChangePercent": 4.2583585,
                                "regularMarketDayHigh": 214.8399,
                                "regularMarketDayLow": 206.7,
                                "regularMarketDayRange": "206.7 - 214.8399",
                                "regularMarketOpen": 207.6,
                                "regularMarketPreviousClose": 202.66,
                                "regularMarketPrice": 211.29,
                                "regularMarketTime": 1599681601,
                                "regularMarketVolume": 43764495,
                                "sharesOutstanding": 7567649792,
                                "shortName": "Microsoft Corporation",
                                "sourceInterval": 15,
                                "symbol": "MSFT",
                                "tradeable": false,
                                "trailingAnnualDividendRate": 2.04,
                                "trailingAnnualDividendYield": 0.01006612,
                                "trailingPE": 36.68229,
                                "triggerable": true,
                                "twoHundredDayAverage": 186.7529,
                                "twoHundredDayAverageChange": 24.537094,
                                "twoHundredDayAverageChangePercent": 0.13138802
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "description": ""
              }
        }
      }
    },
    "/v7/finance/options/{symbol}": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "example: 1510876800",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL",
              "properties": {
                "symbol": {
                  "type": "string",
                  "example": "AAPL"
                }
              }
            }
          }
        ],
        "operationId": "options",
        "description": "Get option chain for a particular symbol",
        "responses": {
          "200": {
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "optionChain": {
                            "error": null,
                            "result": [
                              {
                                "expirationDates": [
                                  1599782400,
                                  1600387200,
                                  1600992000,
                                  1601596800,
                                  1602201600,
                                  1602806400,
                                  1603411200,
                                  1605830400,
                                  1608249600,
                                  1610668800,
                                  1616112000,
                                  1618531200,
                                  1623974400,
                                  1631836800,
                                  1642723200,
                                  1655424000,
                                  1663286400
                                ],
                                "hasMiniOptions": false,
                                "options": [
                                  {
                                    "calls": [
                                      {
                                        "ask": 65.15,
                                        "bid": 64.35,
                                        "change": 3.3999977,
                                        "contractSize": "REGULAR",
                                        "contractSymbol": "AAPL200911C00052500",
                                        "currency": "USD",
                                        "expiration": 1599782400,
                                        "impliedVolatility": 4.597660502929687,
                                        "inTheMoney": true,
                                        "lastPrice": 64.6,
                                        "lastTradeDate": 1599680842,
                                        "openInterest": 275,
                                        "percentChange": 5.555552,
                                        "strike": 52.5,
                                        "volume": 143
                                      },
                                      {
                                        "ask": 63.9,
                                        "bid": 63.1,
                                        "change": 4.199997,
                                        "contractSize": "REGULAR",
                                        "contractSymbol": "AAPL200911C00053750",
                                        "currency": "USD",
                                        "expiration": 1599782400,
                                        "impliedVolatility": 4.476566904296874,
                                        "inTheMoney": true,
                                        "lastPrice": 64.2,
                                        "lastTradeDate": 1599681239,
                                        "openInterest": 261,
                                        "percentChange": 6.9999948,
                                        "strike": 53.75,
                                        "volume": 147
                                      }
                                    ],
                                    "expirationDate": 1599782400,
                                    "hasMiniOptions": false,
                                    "puts": [
                                      {
                                        "ask": 0.01,
                                        "bid": 0,
                                        "change": 0,
                                        "contractSize": "REGULAR",
                                        "contractSymbol": "AAPL200911P00052500",
                                        "currency": "USD",
                                        "expiration": 1599782400,
                                        "impliedVolatility": 2.8750028125,
                                        "inTheMoney": false,
                                        "lastPrice": 0.01,
                                        "lastTradeDate": 1599589974,
                                        "openInterest": 1143,
                                        "percentChange": 0,
                                        "strike": 52.5,
                                        "volume": 53
                                      },
                                      {
                                        "ask": 0.01,
                                        "bid": 0,
                                        "change": 0,
                                        "contractSize": "REGULAR",
                                        "contractSymbol": "AAPL200911P00053750",
                                        "currency": "USD",
                                        "expiration": 1599782400,
                                        "impliedVolatility": 2.750003125,
                                        "inTheMoney": false,
                                        "lastPrice": 0.01,
                                        "lastTradeDate": 1599246781,
                                        "openInterest": 40,
                                        "percentChange": 0,
                                        "strike": 53.75,
                                        "volume": 28
                                      }
                                    ]
                                  }
                                ],
                                "quote": {
                                  "ask": 117.27,
                                  "askSize": 8,
                                  "averageDailyVolume10Day": 233119800,
                                  "averageDailyVolume3Month": 170533131,
                                  "bid": 117.25,
                                  "bidSize": 22,
                                  "bookValue": 4.218,
                                  "currency": "USD",
                                  "displayName": "Apple",
                                  "dividendDate": 1597276800,
                                  "earningsTimestamp": 1596126600,
                                  "earningsTimestampEnd": 1604318400,
                                  "earningsTimestampStart": 1603882740,
                                  "epsCurrentYear": 3.23,
                                  "epsForward": 3.86,
                                  "epsTrailingTwelveMonths": 3.296,
                                  "esgPopulated": false,
                                  "exchange": "NMS",
                                  "exchangeDataDelayedBy": 0,
                                  "exchangeTimezoneName": "America/New_York",
                                  "exchangeTimezoneShortName": "EDT",
                                  "fiftyDayAverage": 112.823425,
                                  "fiftyDayAverageChange": 4.4965744,
                                  "fiftyDayAverageChangePercent": 0.03985497,
                                  "fiftyTwoWeekHigh": 137.98,
                                  "fiftyTwoWeekHighChange": -20.659996,
                                  "fiftyTwoWeekHighChangePercent": -0.14973181,
                                  "fiftyTwoWeekLow": 53.1525,
                                  "fiftyTwoWeekLowChange": 64.167496,
                                  "fiftyTwoWeekLowChangePercent": 1.2072338,
                                  "fiftyTwoWeekRange": "53.1525 - 137.98",
                                  "financialCurrency": "USD",
                                  "firstTradeDateMilliseconds": 345479400000,
                                  "forwardPE": 30.393784,
                                  "fullExchangeName": "NasdaqGS",
                                  "gmtOffSetMilliseconds": -14400000,
                                  "language": "en-US",
                                  "longName": "Apple Inc.",
                                  "market": "us_market",
                                  "marketCap": 2006465249280,
                                  "marketState": "POST",
                                  "messageBoardId": "finmb_24937",
                                  "postMarketChange": -0.20999908,
                                  "postMarketChangePercent": -0.17899683,
                                  "postMarketPrice": 117.11,
                                  "postMarketTime": 1599686868,
                                  "priceEpsCurrentYear": 36.32198,
                                  "priceHint": 2,
                                  "priceToBook": 27.81413,
                                  "quoteSourceName": "Nasdaq Real Time Price",
                                  "quoteType": "EQUITY",
                                  "region": "US",
                                  "regularMarketChange": 4.5,
                                  "regularMarketChangePercent": 3.9886546,
                                  "regularMarketDayHigh": 119.14,
                                  "regularMarketDayLow": 115.26,
                                  "regularMarketDayRange": "115.26 - 119.14",
                                  "regularMarketOpen": 117.26,
                                  "regularMarketPreviousClose": 112.82,
                                  "regularMarketPrice": 117.32,
                                  "regularMarketTime": 1599681602,
                                  "regularMarketVolume": 168404235,
                                  "sharesOutstanding": 17102499840,
                                  "shortName": "Apple Inc.",
                                  "sourceInterval": 15,
                                  "symbol": "AAPL",
                                  "tradeable": false,
                                  "trailingAnnualDividendRate": 0.782,
                                  "trailingAnnualDividendYield": 0.0069313953,
                                  "trailingPE": 35.59466,
                                  "triggerable": true,
                                  "twoHundredDayAverage": 85.99835,
                                  "twoHundredDayAverageChange": 31.321648,
                                  "twoHundredDayAverageChangePercent": 0.3642122
                                },
                                "strikes": [
                                  52.5,
                                  53.75,
                                  55,
                                  56.25,
                                  57.5,
                                  58.75,
                                  60,
                                  61.25,
                                  62.5,
                                  63.75,
                                  65,
                                  66.25,
                                  67.5,
                                  68.75,
                                  70,
                                  71.25,
                                  72.5,
                                  73.75,
                                  75,
                                  76.25,
                                  77.5,
                                  78.75,
                                  80,
                                  81.25,
                                  82.5,
                                  83.75,
                                  85,
                                  86.25,
                                  87.5,
                                  88.75,
                                  90,
                                  91.25,
                                  92.5,
                                  93.75,
                                  95,
                                  96.25,
                                  97.5,
                                  98.75,
                                  100,
                                  101.25,
                                  102.5,
                                  103.75,
                                  105,
                                  106.25,
                                  107.5,
                                  108.75,
                                  110,
                                  111.25,
                                  112.5,
                                  113.75,
                                  115,
                                  116.25,
                                  117.5,
                                  118.75,
                                  120,
                                  121.25,
                                  122.5,
                                  123.75,
                                  125,
                                  126.25,
                                  127.5,
                                  128.75,
                                  130,
                                  131.25,
                                  132.5,
                                  133.75,
                                  135,
                                  136.25,
                                  137.5,
                                  138.75,
                                  140,
                                  141.25,
                                  142.5,
                                  143.75,
                                  145,
                                  146,
                                  147.5,
                                  149,
                                  150,
                                  152.5,
                                  155,
                                  157.5,
                                  160,
                                  162.5,
                                  165,
                                  167.5,
                                  170,
                                  172.5,
                                  175,
                                  177.5,
                                  180,
                                  182.5,
                                  185,
                                  190,
                                  210,
                                  215,
                                  220,
                                  225,
                                  230,
                                  235,
                                  240,
                                  245,
                                  250,
                                  255,
                                  260,
                                  265,
                                  270,
                                  275,
                                  280,
                                  285,
                                  290,
                                  295,
                                  300,
                                  305,
                                  310,
                                  315,
                                  320,
                                  325,
                                  330,
                                  335,
                                  340,
                                  345,
                                  350,
                                  355,
                                  360,
                                  365,
                                  370,
                                  375,
                                  380,
                                  385,
                                  390,
                                  395,
                                  400,
                                  405,
                                  410,
                                  415,
                                  420,
                                  425,
                                  430,
                                  435,
                                  440,
                                  445,
                                  450,
                                  455,
                                  460,
                                  465,
                                  470,
                                  475,
                                  480,
                                  485,
                                  490,
                                  495,
                                  500,
                                  505,
                                  510,
                                  515,
                                  520,
                                  525,
                                  530,
                                  535,
                                  540,
                                  545,
                                  550,
                                  555,
                                  560,
                                  565,
                                  570,
                                  575,
                                  580,
                                  590,
                                  600,
                                  610,
                                  620,
                                  630,
                                  640,
                                  650,
                                  660,
                                  670,
                                  680,
                                  690,
                                  700,
                                  710,
                                  720,
                                  730
                                ],
                                "underlyingSymbol": "AAPL"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "description": ""
              }
        }
      }
    },
    "/v8/finance/spark": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "`1m` `5m` `15m` `1d` `1wk` `1mo`",
            "schema": {
              "type": "string",
              "example": "1d"
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "`1d` `5d` `1mo` `3mo` `6mo` `1y` `5y` `max`",
            "schema": {
              "type": "string",
              "example": "1mo"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "Separated by comm. Max 10",
            "schema": {
              "type": "string",
              "example": "AAPL,MSFT"
            }
          }
        ],
        "operationId": "history",
        "description": "Stock history",
        "responses": {
          "200": {
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "MSFT": {
                            "previousClose": null,
                            "symbol": "MSFT",
                            "chartPreviousClose": 252.46,
                            "timestamp": [
                              1620653400,
                              1620739800,
                              1620826200,
                              1620912600,
                              1620999000,
                              1621258200,
                              1621344600,
                              1621431000,
                              1621517400,
                              1621603800,
                              1621863000,
                              1621949400,
                              1622035800,
                              1622122200,
                              1622208600,
                              1622554200,
                              1622640600,
                              1622727000,
                              1622813400,
                              1623072600,
                              1623182402
                            ],
                            "close": [
                              247.18,
                              246.23,
                              239,
                              243.03,
                              248.15,
                              245.18,
                              243.08,
                              243.12,
                              246.48,
                              245.17,
                              250.78,
                              251.72,
                              251.49,
                              249.31,
                              249.68,
                              247.4,
                              247.3,
                              245.71,
                              250.79,
                              253.81,
                              252.57
                            ],
                            "end": null,
                            "start": null,
                            "dataGranularity": 300
                          },
                          "AAPL": {
                            "previousClose": null,
                            "symbol": "AAPL",
                            "chartPreviousClose": 130.21,
                            "timestamp": [
                              1620653400,
                              1620739800,
                              1620826200,
                              1620912600,
                              1620999000,
                              1621258200,
                              1621344600,
                              1621431000,
                              1621517400,
                              1621603800,
                              1621863000,
                              1621949400,
                              1622035800,
                              1622122200,
                              1622208600,
                              1622554200,
                              1622640600,
                              1622727000,
                              1622813400,
                              1623072600,
                              1623182403
                            ],
                            "close": [
                              126.85,
                              125.91,
                              122.77,
                              124.97,
                              127.45,
                              126.27,
                              124.85,
                              124.69,
                              127.31,
                              125.43,
                              127.1,
                              126.9,
                              126.85,
                              125.28,
                              124.61,
                              124.28,
                              125.06,
                              123.54,
                              125.89,
                              125.9,
                              126.74
                            ],
                            "end": null,
                            "start": null,
                            "dataGranularity": 300
                          }
                        }
                      }
                    }
                  }
                },
                "description": ""
              }
        }
      }
    },
    "/v11/finance/quoteSummary/{symbol}": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "`en` `fr` `de` `it` `es` `zh`",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "`US` `AU` `CA` `FR` `DE` `HK` `US` `IT` `ES` `GB` `IN`",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "modules",
            "in": "query",
            "required": true,
            "description": "`summaryDetail` `assetProfile` `fundProfile` `financialData` `defaultKeyStatistics` `calendarEvents` `incomeStatementHistory` `incomeStatementHistoryQuarterly` `cashflowStatementHistory` `balanceSheetHistory` `earnings` `earningsHistory` `insiderHolders` `cashflowStatementHistory` `cashflowStatementHistoryQuarterly` `insiderTransactions` `secFilings` `indexTrend` `sectorTrend` `earningsTrend` `netSharePurchaseActivity` `upgradeDowngradeHistory` `institutionOwnership` `recommendationTrend` `balanceSheetHistory` `balanceSheetHistoryQuarterly` `fundOwnership` `majorDirectHolders` `majorHoldersBreakdown`, `price`, `quoteType`, `esgScores`",
            "schema": {
              "type": "string",
              "example": "defaultKeyStatistics,assetProfile"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "A single symbol",
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          }
        ],
        "operationId": "stock details",
        "description": "Get very detailed information for a particular stock.\n\nThe next portions of data can be retrieved with the service:\n`summaryDetail` `assetProfile` `fundProfile` `financialData` `defaultKeyStatistics` `calendarEvents` `incomeStatementHistory` `incomeStatementHistoryQuarterly` `cashflowStatementHistory` `balanceSheetHistory` `earnings` `earningsHistory` `insiderHolders` `cashflowStatementHistory` `cashflowStatementHistoryQuarterly` `insiderTransactions` `secFilings` `indexTrend` `sectorTrend` `earningsTrend` `netSharePurchaseActivity` `upgradeDowngradeHistory` `institutionOwnership` `recommendationTrend` `balanceSheetHistory` `balanceSheetHistoryQuarterly` `fundOwnership` `majorDirectHolders` `majorHoldersBreakdown`, `price`, `quoteType`, `esgScores`",
        "responses": {
          "200": {
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "quoteSummary": {
                            "error": null,
                            "result": [
                              {
                                "assetProfile": {
                                  "address1": "One Apple Park Way",
                                  "auditRisk": 1,
                                  "boardRisk": 1,
                                  "city": "Cupertino",
                                  "companyOfficers": [
                                    {
                                      "age": 58,
                                      "exercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "fiscalYear": 2019,
                                      "maxAge": 1,
                                      "name": "Mr. Timothy D. Cook",
                                      "title": "CEO & Director",
                                      "totalPay": {
                                        "fmt": "11.56M",
                                        "longFmt": "11,555,466",
                                        "raw": 11555466
                                      },
                                      "unexercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "yearBorn": 1961
                                    },
                                    {
                                      "age": 55,
                                      "exercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "fiscalYear": 2019,
                                      "maxAge": 1,
                                      "name": "Mr. Luca  Maestri",
                                      "title": "CFO & Sr. VP",
                                      "totalPay": {
                                        "fmt": "3.58M",
                                        "longFmt": "3,576,221",
                                        "raw": 3576221
                                      },
                                      "unexercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "yearBorn": 1964
                                    },
                                    {
                                      "age": 55,
                                      "exercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "fiscalYear": 2019,
                                      "maxAge": 1,
                                      "name": "Mr. Jeffrey E. Williams",
                                      "title": "Chief Operating Officer",
                                      "totalPay": {
                                        "fmt": "3.57M",
                                        "longFmt": "3,574,503",
                                        "raw": 3574503
                                      },
                                      "unexercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "yearBorn": 1964
                                    },
                                    {
                                      "age": 55,
                                      "exercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "fiscalYear": 2019,
                                      "maxAge": 1,
                                      "name": "Ms. Katherine L. Adams",
                                      "title": "Sr. VP, Gen. Counsel & Sec.",
                                      "totalPay": {
                                        "fmt": "3.6M",
                                        "longFmt": "3,598,384",
                                        "raw": 3598384
                                      },
                                      "unexercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "yearBorn": 1964
                                    },
                                    {
                                      "age": 52,
                                      "exercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "fiscalYear": 2019,
                                      "maxAge": 1,
                                      "name": "Ms. Deirdre  O'Brien",
                                      "title": "Sr. VP of People & Retail",
                                      "totalPay": {
                                        "fmt": "2.69M",
                                        "longFmt": "2,690,253",
                                        "raw": 2690253
                                      },
                                      "unexercisedValue": {
                                        "fmt": null,
                                        "longFmt": "0",
                                        "raw": 0
                                      },
                                      "yearBorn": 1967
                                    }
                                  ],
                                  "compensationAsOfEpochDate": 1577750400,
                                  "compensationRisk": 3,
                                  "country": "United States",
                                  "fullTimeEmployees": 137000,
                                  "governanceEpochDate": 1575849600,
                                  "industry": "Consumer Electronics",
                                  "longBusinessSummary": "Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides digital content stores and streaming services; AppleCare support services; and iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers various service, such as Apple Arcade, a game subscription service; Apple Card, a co-branded credit card; Apple News+, a subscription news and magazine service; and Apple Pay, a cashless payment service, as well as licenses its intellectual property, and provides other related services. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store, Mac App Store, and Watch App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. has a collaboration with Google to develop COVID-19 tracking system for Android and iOS devices. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.",
                                  "maxAge": 86400,
                                  "overallRisk": 1,
                                  "phone": "408-996-1010",
                                  "sector": "Technology",
                                  "shareHolderRightsRisk": 1,
                                  "state": "CA",
                                  "website": "http://www.apple.com",
                                  "zip": "95014"
                                },
                                "defaultKeyStatistics": {
                                  "52WeekChange": {
                                    "fmt": "101.83%",
                                    "raw": 1.0183372
                                  },
                                  "SandP52WeekChange": {
                                    "fmt": "11.03%",
                                    "raw": 0.11026919
                                  },
                                  "annualHoldingsTurnover": {},
                                  "annualReportExpenseRatio": {},
                                  "beta": {
                                    "fmt": "1.28",
                                    "raw": 1.284838
                                  },
                                  "beta3Year": {},
                                  "bookValue": {
                                    "fmt": "4.22",
                                    "raw": 4.218
                                  },
                                  "category": null,
                                  "dateShortInterest": {
                                    "fmt": "2020-08-14",
                                    "raw": 1597363200
                                  },
                                  "earningsQuarterlyGrowth": {
                                    "fmt": "12.00%",
                                    "raw": 0.12
                                  },
                                  "enterpriseToEbitda": {
                                    "fmt": "24.90",
                                    "raw": 24.897
                                  },
                                  "enterpriseToRevenue": {
                                    "fmt": "7.15",
                                    "raw": 7.152
                                  },
                                  "enterpriseValue": {
                                    "fmt": "1.96T",
                                    "longFmt": "1,958,669,058,048",
                                    "raw": 1958669058048
                                  },
                                  "fiveYearAverageReturn": {},
                                  "floatShares": {
                                    "fmt": "17.09B",
                                    "longFmt": "17,085,433,464",
                                    "raw": 17085433464
                                  },
                                  "forwardEps": {
                                    "fmt": "3.86",
                                    "raw": 3.86
                                  },
                                  "forwardPE": {
                                    "fmt": "30.39",
                                    "raw": 30.393784
                                  },
                                  "fundFamily": null,
                                  "fundInceptionDate": {},
                                  "heldPercentInsiders": {
                                    "fmt": "0.07%",
                                    "raw": 0.00066
                                  },
                                  "heldPercentInstitutions": {
                                    "fmt": "62.12%",
                                    "raw": 0.62115
                                  },
                                  "lastCapGain": {},
                                  "lastDividendValue": {},
                                  "lastFiscalYearEnd": {
                                    "fmt": "2019-09-28",
                                    "raw": 1569628800
                                  },
                                  "lastSplitDate": {
                                    "fmt": "2020-08-31",
                                    "raw": 1598832000
                                  },
                                  "lastSplitFactor": "4:1",
                                  "legalType": null,
                                  "maxAge": 1,
                                  "morningStarOverallRating": {},
                                  "morningStarRiskRating": {},
                                  "mostRecentQuarter": {
                                    "fmt": "2020-06-27",
                                    "raw": 1593216000
                                  },
                                  "netIncomeToCommon": {
                                    "fmt": "58.42B",
                                    "longFmt": "58,424,000,512",
                                    "raw": 58424000512
                                  },
                                  "nextFiscalYearEnd": {
                                    "fmt": "2021-09-28",
                                    "raw": 1632787200
                                  },
                                  "pegRatio": {
                                    "fmt": "2.80",
                                    "raw": 2.8
                                  },
                                  "priceHint": {
                                    "fmt": "2",
                                    "longFmt": "2",
                                    "raw": 2
                                  },
                                  "priceToBook": {
                                    "fmt": "27.81",
                                    "raw": 27.81413
                                  },
                                  "priceToSalesTrailing12Months": {},
                                  "profitMargins": {
                                    "fmt": "21.33%",
                                    "raw": 0.21334
                                  },
                                  "revenueQuarterlyGrowth": {},
                                  "sharesOutstanding": {
                                    "fmt": "17.1B",
                                    "longFmt": "17,102,499,840",
                                    "raw": 17102499840
                                  },
                                  "sharesPercentSharesOut": {
                                    "fmt": "0.55%",
                                    "raw": 0.0055
                                  },
                                  "sharesShort": {
                                    "fmt": "94.64M",
                                    "longFmt": "94,635,016",
                                    "raw": 94635016
                                  },
                                  "sharesShortPreviousMonthDate": {
                                    "fmt": "2020-07-15",
                                    "raw": 1594771200
                                  },
                                  "sharesShortPriorMonth": {
                                    "fmt": "140.94M",
                                    "longFmt": "140,938,424",
                                    "raw": 140938424
                                  },
                                  "shortPercentOfFloat": {
                                    "fmt": "0.55%",
                                    "raw": 0.0055
                                  },
                                  "shortRatio": {
                                    "fmt": "0.57",
                                    "raw": 0.57
                                  },
                                  "threeYearAverageReturn": {},
                                  "totalAssets": {},
                                  "trailingEps": {
                                    "fmt": "3.30",
                                    "raw": 3.296
                                  },
                                  "yield": {},
                                  "ytdReturn": {}
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "description": ""
              }
        }
      }
    },
    "/v8/finance/chart/{ticker}": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "comparisons",
            "in": "query",
            "required": false,
            "description": "The tickers for comparison separated by comma. Max 10 tickers",
            "schema": {
              "type": "string",
              "example": "MSFT,^VIX"
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "`1d` `5d` `1mo` `3mo` `6mo` `1y` `5y` `10y` `ytd` `max`",
            "schema": {
              "type": "string",
              "example": "1mo"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "`US` `AU` `CA` `FR` `DE` `HK` `US` `IT` `ES` `GB` `IN`",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "`1m` `5m` `15m` `1d` `1wk` `1mo`",
            "schema": {
              "type": "string",
              "example": "1d"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "`en` `fr` `de` `it` `es` `zh`",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "events",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "div,split"
            }
          },
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          }
        ],
        "operationId": "chart",
        "description": "Get chart data by ticker",
        "responses": {
          "200": {
                "description": "",
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "chart": {
                            "result": [
                              {
                                "meta": {
                                  "currency": "USD",
                                  "symbol": "AAPL",
                                  "exchangeName": "NMS",
                                  "instrumentType": "EQUITY",
                                  "firstTradeDate": 345479400,
                                  "regularMarketTime": 1623182403,
                                  "gmtoffset": -14400,
                                  "timezone": "EDT",
                                  "exchangeTimezoneName": "America/New_York",
                                  "regularMarketPrice": 126.74,
                                  "chartPreviousClose": 130.21,
                                  "priceHint": 2,
                                  "currentTradingPeriod": {
                                    "pre": {
                                      "timezone": "EDT",
                                      "start": 1623139200,
                                      "end": 1623159000,
                                      "gmtoffset": -14400
                                    },
                                    "regular": {
                                      "timezone": "EDT",
                                      "start": 1623159000,
                                      "end": 1623182400,
                                      "gmtoffset": -14400
                                    },
                                    "post": {
                                      "timezone": "EDT",
                                      "start": 1623182400,
                                      "end": 1623196800,
                                      "gmtoffset": -14400
                                    }
                                  },
                                  "dataGranularity": "1d",
                                  "range": "1mo",
                                  "validRanges": [
                                    "5d",
                                    "1y",
                                    "6mo",
                                    "1d",
                                    "2y",
                                    "5y",
                                    "ytd",
                                    "1mo",
                                    "10y",
                                    "3mo",
                                    "max"
                                  ]
                                },
                                "timestamp": [
                                  1620653400,
                                  1620739800,
                                  1620826200,
                                  1620912600,
                                  1620999000,
                                  1621258200,
                                  1621344600,
                                  1621431000,
                                  1621517400,
                                  1621603800,
                                  1621863000,
                                  1621949400,
                                  1622035800,
                                  1622122200,
                                  1622208600,
                                  1622554200,
                                  1622640600,
                                  1622727000,
                                  1622813400,
                                  1623072600,
                                  1623182403
                                ],
                                "comparisons": [
                                  {
                                    "symbol": "MSFT",
                                    "high": [
                                      251.73,
                                      246.6,
                                      244.38,
                                      245.6,
                                      249.18,
                                      246.59,
                                      246.41,
                                      243.23,
                                      247.95,
                                      248.33,
                                      251.16,
                                      252.75,
                                      252.94,
                                      251.48,
                                      252.08,
                                      251.29,
                                      249.27,
                                      246.34,
                                      251.65,
                                      254.09,
                                      256.01
                                    ],
                                    "low": [
                                      247.12,
                                      242.57,
                                      238.07,
                                      241.42,
                                      245.49,
                                      243.52,
                                      242.9,
                                      238.6,
                                      243.86,
                                      244.74,
                                      247.51,
                                      250.82,
                                      250.75,
                                      249.25,
                                      249.56,
                                      246.96,
                                      245.84,
                                      243,
                                      247.51,
                                      249.81,
                                      252.515
                                    ],
                                    "chartPreviousClose": 252.46,
                                    "close": [
                                      247.18,
                                      246.23,
                                      239,
                                      243.03,
                                      248.15,
                                      245.18,
                                      243.08,
                                      243.12,
                                      246.48,
                                      245.17,
                                      250.78,
                                      251.72,
                                      251.49,
                                      249.31,
                                      249.68,
                                      247.4,
                                      247.3,
                                      245.71,
                                      250.79,
                                      253.81,
                                      252.57
                                    ],
                                    "open": [
                                      250.87,
                                      244.55,
                                      242.17,
                                      241.8,
                                      245.58,
                                      246.55,
                                      246.27,
                                      239.31,
                                      243.96,
                                      247.57,
                                      247.79,
                                      251.77,
                                      251.43,
                                      251.17,
                                      251,
                                      251.23,
                                      248.13,
                                      245.22,
                                      247.76,
                                      249.98,
                                      255.16
                                    ]
                                  },
                                  {
                                    "symbol": "^VIX",
                                    "high": [
                                      19.75,
                                      23.73,
                                      28.38,
                                      28.93,
                                      22.1,
                                      21.58,
                                      21.45,
                                      25.96,
                                      23.5,
                                      20.89,
                                      20.51,
                                      19.29,
                                      18.92,
                                      18.17,
                                      16.86,
                                      18.53,
                                      18.31,
                                      19.27,
                                      18.42,
                                      17.35,
                                      17.75
                                    ],
                                    "low": [
                                      17.07,
                                      20.71,
                                      21.66,
                                      22.23,
                                      18.66,
                                      19.67,
                                      18.81,
                                      21.88,
                                      20.19,
                                      19.53,
                                      18.38,
                                      16.87,
                                      17.35,
                                      16.52,
                                      15.9,
                                      15.68,
                                      16.74,
                                      17.45,
                                      16.18,
                                      15.78,
                                      15.15
                                    ],
                                    "chartPreviousClose": 16.69,
                                    "close": [
                                      19.66,
                                      21.84,
                                      27.59,
                                      23.13,
                                      18.81,
                                      19.72,
                                      21.34,
                                      22.18,
                                      20.67,
                                      20.15,
                                      18.4,
                                      18.84,
                                      17.36,
                                      16.74,
                                      16.76,
                                      17.9,
                                      17.48,
                                      18.04,
                                      16.42,
                                      16.42,
                                      17.07
                                    ],
                                    "open": [
                                      17.34,
                                      21.17,
                                      22.42,
                                      26.03,
                                      21.77,
                                      19.89,
                                      18.89,
                                      22.46,
                                      22.33,
                                      20.42,
                                      20.5,
                                      18.35,
                                      18.37,
                                      18.03,
                                      16.8,
                                      17.24,
                                      17.86,
                                      17.73,
                                      18.09,
                                      17.34,
                                      16.58
                                    ]
                                  }
                                ],
                                "indicators": {
                                  "quote": [
                                    {
                                      "low": [
                                        126.80999755859375,
                                        122.7699966430664,
                                        122.25,
                                        124.26000213623047,
                                        125.8499984741211,
                                        125.16999816894531,
                                        124.77999877929688,
                                        122.86000061035156,
                                        125.0999984741211,
                                        125.20999908447266,
                                        125.94000244140625,
                                        126.31999969482422,
                                        126.41999816894531,
                                        125.08000183105469,
                                        124.55000305175781,
                                        123.94000244140625,
                                        124.05000305175781,
                                        123.12999725341797,
                                        123.8499984741211,
                                        124.83000183105469,
                                        126.21009826660156
                                      ],
                                      "high": [
                                        129.5399932861328,
                                        126.2699966430664,
                                        124.63999938964844,
                                        126.1500015258789,
                                        127.88999938964844,
                                        126.93000030517578,
                                        126.98999786376953,
                                        124.91999816894531,
                                        127.72000122070312,
                                        128,
                                        127.94000244140625,
                                        128.32000732421875,
                                        127.38999938964844,
                                        127.63999938964844,
                                        125.80000305175781,
                                        125.3499984741211,
                                        125.23999786376953,
                                        124.8499984741211,
                                        126.16000366210938,
                                        126.31999969482422,
                                        128.4600067138672
                                      ],
                                      "open": [
                                        129.41000366210938,
                                        123.5,
                                        123.4000015258789,
                                        124.58000183105469,
                                        126.25,
                                        126.81999969482422,
                                        126.55999755859375,
                                        123.16000366210938,
                                        125.2300033569336,
                                        127.81999969482422,
                                        126.01000213623047,
                                        127.81999969482422,
                                        126.95999908447266,
                                        126.44000244140625,
                                        125.56999969482422,
                                        125.08000183105469,
                                        124.27999877929688,
                                        124.68000030517578,
                                        124.06999969482422,
                                        126.16999816894531,
                                        126.5999984741211
                                      ],
                                      "close": [
                                        126.8499984741211,
                                        125.91000366210938,
                                        122.7699966430664,
                                        124.97000122070312,
                                        127.44999694824219,
                                        126.2699966430664,
                                        124.8499984741211,
                                        124.69000244140625,
                                        127.30999755859375,
                                        125.43000030517578,
                                        127.0999984741211,
                                        126.9000015258789,
                                        126.8499984741211,
                                        125.27999877929688,
                                        124.61000061035156,
                                        124.27999877929688,
                                        125.05999755859375,
                                        123.54000091552734,
                                        125.88999938964844,
                                        125.9000015258789,
                                        126.73999786376953
                                      ],
                                      "volume": [
                                        88071200,
                                        126142800,
                                        112172300,
                                        105861300,
                                        81806500,
                                        74244600,
                                        63342900,
                                        92612000,
                                        76857100,
                                        79295400,
                                        63092900,
                                        72009500,
                                        56575900,
                                        94625600,
                                        71311100,
                                        67637100,
                                        59278900,
                                        76229200,
                                        75087300,
                                        70927000,
                                        72497627
                                      ]
                                    }
                                  ],
                                  "adjclose": [
                                    {
                                      "adjclose": [
                                        126.8499984741211,
                                        125.91000366210938,
                                        122.7699966430664,
                                        124.97000122070312,
                                        127.44999694824219,
                                        126.2699966430664,
                                        124.8499984741211,
                                        124.69000244140625,
                                        127.30999755859375,
                                        125.43000030517578,
                                        127.0999984741211,
                                        126.9000015258789,
                                        126.8499984741211,
                                        125.27999877929688,
                                        124.61000061035156,
                                        124.27999877929688,
                                        125.05999755859375,
                                        123.54000091552734,
                                        125.88999938964844,
                                        125.9000015258789,
                                        126.73999786376953
                                      ]
                                    }
                                  ]
                                }
                              }
                            ],
                            "error": null
                          }
                        }
                      }
                    }
                  }
                }
          }
        }
      }
    },
    "/v6/finance/recommendationsbysymbol/{symbol}": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          }
        ],
        "operationId": "similar",
        "description": "List similar stocks",
        "responses": {
          "200": {
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "finance": {
                            "error": null,
                            "result": [
                              {
                                "recommendedSymbols": [
                                  {
                                    "score": 0.284219,
                                    "symbol": "AMZN"
                                  },
                                  {
                                    "score": 0.277092,
                                    "symbol": "GOOG"
                                  },
                                  {
                                    "score": 0.276136,
                                    "symbol": "FB"
                                  },
                                  {
                                    "score": 0.248035,
                                    "symbol": "TSLA"
                                  },
                                  {
                                    "score": 0.208809,
                                    "symbol": "NFLX"
                                  }
                                ],
                                "symbol": "AAPL"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "description": ""
              }
        }
      }
    },
    "/ws/screeners/v1/finance/screener/predefined/saved": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": "25"
            }
          },
          {
            "name": "scrIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "day_gainers"
            }
          }
        ],
        "operationId": "popular",
        "description": "Most added to watchlist",
        "responses": {
          "200": {
                "description": "",
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                            "finance": {
                              "result": [
                                {
                                  "id": "ec5bebb9-b7b2-4474-9e5c-3e258b61cbe6",
                                  "title": "Day Gainers - US",
                                  "description": "Stocks ordered in descending order by price percent change greater than 3% with respect to the previous close",
                                  "canonicalName": "DAY_GAINERS",
                                  "criteriaMeta": {
                                    "size": 1,
                                    "offset": 0,
                                    "sortField": "percentchange",
                                    "sortType": "DESC",
                                    "quoteType": "EQUITY",
                                    "topOperator": "AND",
                                    "criteria": [
                                      {
                                        "field": "percentchange",
                                        "operators": [
                                          "GT"
                                        ],
                                        "values": [
                                          3
                                        ],
                                        "labelsSelected": []
                                      },
                                      {
                                        "field": "region",
                                        "operators": [
                                          "EQ"
                                        ],
                                        "values": [],
                                        "labelsSelected": [
                                          53
                                        ]
                                      },
                                      {
                                        "field": "intradaymarketcap",
                                        "operators": [
                                          "EQ"
                                        ],
                                        "values": [],
                                        "labelsSelected": [
                                          1,
                                          2,
                                          3
                                        ]
                                      },
                                      {
                                        "field": "dayvolume",
                                        "operators": [
                                          "GT"
                                        ],
                                        "values": [
                                          15000
                                        ],
                                        "labelsSelected": []
                                      }
                                    ]
                                  },
                                  "rawCriteria": "{\"offset\":0,\"size\":1,\"sortField\":\"percentchange\",\"sortType\":\"DESC\",\"quoteType\":\"EQUITY\",\"query\":{\"operator\":\"AND\",\"operands\":[{\"operator\":\"GT\",\"operands\":[\"percentchange\",3.0]},{\"operator\":\"eq\",\"operands\":[\"region\",\"us\"]},{\"operator\":\"or\",\"operands\":[{\"operator\":\"BTWN\",\"operands\":[\"intradaymarketcap\",2000000000,10000000000]},{\"operator\":\"BTWN\",\"operands\":[\"intradaymarketcap\",10000000000,100000000000]},{\"operator\":\"GT\",\"operands\":[\"intradaymarketcap\",100000000000]}]},{\"operator\":\"gt\",\"operands\":[\"dayvolume\",15000]}]}}",
                                  "start": 0,
                                  "count": 1,
                                  "total": 229,
                                  "quotes": [
                                    {
                                      "language": "en-US",
                                      "region": "US",
                                      "quoteType": "EQUITY",
                                      "quoteSourceName": "Nasdaq Real Time Price",
                                      "triggerable": true,
                                      "currency": "USD",
                                      "regularMarketChangePercent": 85.82214,
                                      "sourceInterval": 15,
                                      "exchangeDataDelayedBy": 0,
                                      "exchangeTimezoneName": "America/New_York",
                                      "exchangeTimezoneShortName": "EDT",
                                      "gmtOffSetMilliseconds": -14400000,
                                      "averageAnalystRating": "2.5 - Buy",
                                      "esgPopulated": false,
                                      "tradeable": false,
                                      "firstTradeDateMilliseconds": 1591968600000,
                                      "priceHint": 2,
                                      "postMarketChangePercent": 7.44921,
                                      "postMarketTime": 1623196799,
                                      "postMarketPrice": 23.8,
                                      "postMarketChange": 1.65,
                                      "regularMarketChange": 10.23,
                                      "regularMarketTime": 1623182403,
                                      "regularMarketPrice": 22.15,
                                      "regularMarketDayHigh": 24.93,
                                      "regularMarketDayRange": "16.32 - 24.93",
                                      "regularMarketDayLow": 16.32,
                                      "regularMarketVolume": 725784974,
                                      "regularMarketPreviousClose": 11.92,
                                      "bid": 23.79,
                                      "ask": 23.8,
                                      "bidSize": 8,
                                      "askSize": 14,
                                      "exchange": "NMS",
                                      "market": "us_market",
                                      "messageBoardId": "finmb_321227313",
                                      "fullExchangeName": "NasdaqGS",
                                      "shortName": "Clover Health Investments, Corp",
                                      "longName": "Clover Health Investments, Corp.",
                                      "financialCurrency": "USD",
                                      "regularMarketOpen": 16.635,
                                      "averageDailyVolume3Month": 24400695,
                                      "averageDailyVolume10Day": 46232480,
                                      "fiftyTwoWeekLowChange": 15.84,
                                      "fiftyTwoWeekLowChangePercent": 2.510301,
                                      "fiftyTwoWeekRange": "6.31 - 24.93",
                                      "fiftyTwoWeekHighChange": -2.7800007,
                                      "fiftyTwoWeekHighChangePercent": -0.11151226,
                                      "fiftyTwoWeekLow": 6.31,
                                      "fiftyTwoWeekHigh": 24.93,
                                      "earningsTimestamp": 1621236632,
                                      "earningsTimestampStart": 1621236632,
                                      "earningsTimestampEnd": 1621236632,
                                      "marketState": "POSTPOST",
                                      "sharesOutstanding": 148279008,
                                      "fiftyDayAverage": 8.408286,
                                      "fiftyDayAverageChange": 13.741714,
                                      "fiftyDayAverageChangePercent": 1.6343061,
                                      "twoHundredDayAverage": 10.409445,
                                      "twoHundredDayAverageChange": 11.740555,
                                      "twoHundredDayAverageChangePercent": 1.1278752,
                                      "marketCap": 9039436800,
                                      "displayName": "Clover Health Investments",
                                      "symbol": "CLOV"
                                    }
                                  ],
                                  "predefinedScr": true,
                                  "versionId": 6,
                                  "creationDate": 1473796102800,
                                  "lastUpdated": 1531954019517
                                }
                              ],
                              "error": null
                            }
                          }
                        }
                      }
                    }
                  }
          }
        }
      }
    },
    "/ws/insights/v1/finance/insights": {
      "get": {
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          }
        ],
        "operationId": "insights",
        "description": "Research insights",
        "responses": {
          "200": {
                "content": {
                  "application/json": {
                    "examples": {
                      "Response": {
                        "description": "",
                        "summary": "response",
                        "value": {
                          "finance": {
                            "error": null,
                            "result": {
                              "companySnapshot": {
                                "company": {
                                  "dividends": 0.2519,
                                  "earningsReports": 0.855,
                                  "hiring": 0.966,
                                  "innovativeness": 0.9983,
                                  "insiderSentiments": 0.2217,
                                  "sustainability": 0.8412999999999999
                                },
                                "sector": {
                                  "dividends": 0.5,
                                  "earningsReports": 0.5,
                                  "hiring": 0.5,
                                  "innovativeness": 0.5,
                                  "insiderSentiments": 0.5,
                                  "sustainability": 0.5
                                },
                                "sectorInfo": "Technology"
                              },
                              "instrumentInfo": {
                                "keyTechnicals": {
                                  "provider": "Trading Central",
                                  "resistance": 113.9025,
                                  "stopLoss": 93.156809,
                                  "support": 50.9425
                                },
                                "recommendation": {
                                  "provider": "Argus Research",
                                  "rating": "BUY",
                                  "targetPrice": 150
                                },
                                "technicalEvents": {
                                  "longTerm": "up",
                                  "midTerm": "down",
                                  "provider": "Trading Central",
                                  "shortTerm": "down"
                                },
                                "valuation": {
                                  "color": 0,
                                  "description": "Overvalued",
                                  "discount": "11%",
                                  "provider": "Trading Central",
                                  "relativeValue": "Premium"
                                }
                              },
                              "reports": [
                                {
                                  "id": "27808_Market Summary_1598832000000",
                                  "provider": "Argus Research",
                                  "publishedOn": "2020-08-31T00:00:00Z",
                                  "summary": "Stocks rose on Friday, finishing off a strong week that saw major indexes climb higher. Riskier equities outperformed blue chips, a trend that was commonplace during the early weeks of the recovery. On Friday, the Dow Jones Industrial Average gained 162 points, or 0.6%. The S&P 500 was up 0.7% and the Nasdaq Composite was up 0.6%. For the full week, the Dow was up 2.6%, the S&P 500 was up 3.3% and the Nasdaq gained 3.4%. Year-to-date, the DJIA crossed into positive territory this week, and is up 0.4%, the S&P is up 8.6%, and the Nasdaq is up 30.4%. Over the past 52 weeks, the Dow is up 8.5%, the S&P 500 is up 19.9%, and the Nasdaq is up 46.9%. ",
                                  "title": "Market Digest: ABC, AAPL, FSLR, HPQ, SPLK, TSLA"
                                },
                                {
                                  "id": "2660_Analyst Report_1598832000000",
                                  "provider": "Argus Research",
                                  "publishedOn": "2020-08-31T00:00:00Z",
                                  "summary": "Apple manufactures Smartphones, tablets, PCs, software and peripherals for a worldwide customer base. Its products include Mac desktop and mobile PCs, iPhone, iPad, Apple Watch, and various consumer products, including AirPods, Beats headphones and Apple TV. Apple services include App Store, iTunes, iCloud, Apple TV+, Apple Arcade, Apple Music, Apple Pay, and more.",
                                  "title": "Analyst Report: Apple Inc"
                                },
                                {
                                  "id": "27759_Thematic Portfolio_1598227200000",
                                  "provider": "Argus Research",
                                  "publishedOn": "2020-08-24T00:00:00Z",
                                  "summary": "Sustainable Impact Investing is gaining traction with the global investment community. In January, BlackRock CEO Lawrence Fink, who oversees approximately $7 trillion in assets, announced that his firm would be investing in companies that are making progress on sustainability. Mr. Fink's new focus follows rapid growth in sustainable assets in recent years. According to Opimas, a management consultancy focused on global capital markets, global assets under management in ESG strategies had grown to $40.5 trillion in 2020, doubling in four years and tripling in eight years. As assets have flowed in over the past 40 years, Sustainable Impact Investing has evolved. The discipline, originally known as Socially Responsible Investing, focused at first on excluding companies for various reasons. Now, the discipline promotes \"sustainable\" business practices across all industries that can have an \"impact\" on global issues.",
                                  "title": "The Argus ESG Model Portfolio"
                                },
                                {
                                  "id": "2660_Analyst Report_1596153600000",
                                  "provider": "Argus Research",
                                  "publishedOn": "2020-07-31T00:00:00Z",
                                  "summary": "Apple manufactures Smartphones, tablets, PCs, software and peripherals for a worldwide customer base. Its products include Mac desktop and mobile PCs, iPhone, iPad, Apple Watch, and various consumer products, including AirPods, Beats headphones and Apple TV. Apple services include App Store, iTunes, iCloud, Apple TV+, Apple Arcade, Apple Music, Apple Pay, and more.",
                                  "title": "Analyst Report: Apple Inc"
                                },
                                {
                                  "id": "27573_Market Update_1596153600000",
                                  "provider": "Argus Research",
                                  "publishedOn": "2020-07-31T00:00:00Z",
[...]
